<%- include('components/Header.ejs') %>

    <section class="login-section def-section w-full">
        <div class="container">

            <div class="login-area flex">
                <form class="p-auto">
                    <h1 class="section-heading">Login </h1>
                    <p class="section-para">Enter your valid credientials to access your account. </p>

                    <div class="inputs w-full mt-5">

                        <div class="input-area w-full">

                            <div class="input flex f-col">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" required placeholder="Enter email">
                            </div>

                            <div class="input flex f-col mt-5">
                                <label for="password">Password </label>
                                <input type="password" id="password" name="password" required placeholder="Enter password">
                            </div>

                            <button class="d-btn login-btn">Login </button>


                        </div>



                    </div>

                    <div class="flex flex-a-c flex-j-b w-full form-bottom" >
                        <a href="/app/admin/auth/signup">Not have an account</a>
                        <a href="#">Forget password </a>
                    </div>
                </form>



            </div>


        </div>
    </section>

    <%- include('components/Footer.ejs') %>

