<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/classes.css">
    <link rel="stylesheet" href="/assets/css/media.css" media="(max-width:900px)">
</head>

<body>

    <header>
       <div class="container">
        
          <div class="header-area  flex flex-a-c flex-j-b">
            <div class="logoandbutton flex flex-a-c flex-j-b">
                <div class="logo flex f-col flex-a-c flex-j-s">
                    <div class="top-logo flex gap-5">
                        <span>GH</span>
                        <span>SHOP</span>
                    </div>
                    <div class="bottom-logo">
                        <span class="span-2">PORTAL</span>
                    </div>
                </div> 
            </div>
            <nav>
               <ul class="flex gap-5">
                <li><a href="#">HOME</a></li>
                <li><a href="#">LOGIN</a></li>
                <li><a href="">SEARCH</a></li>
               </ul>
            </nav>

          </div>


       </div> 

    </header>

    <main class="vh-100">


        



