
<div class="logo flex f-col flex-a-c flex-j-s gap-3">
    <div class="top-logo flex gap-5">
        <span>GH</span>
        <span>SHOP</span>
    </div>
    <div class="bottom-logo">
        <span class="span-2">PORTAL</span>
    </div>
</div>