<footer>
    <div class="container">
        <div class="footer-area w-full flex f-wrap flex-a-c flex-j-a gap-5">
            <div class="web-info footer-item">
                <%- include('Logo.ejs') %>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laudantium quam exercitationem
                        aperiam quasi molestias eligendi accusantium repellat sunt est minima eaque alias inventore
                        ducimus itaque, debitis architecto, consequatur doloremque?
                    </p>
            </div>

            <div class="links-1 links-f footer-item flex f-col flex-j-c flex-a-c gap-5">
                <h4>Social</h4>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">LinkedIn</a>
                <a href="#">Github</a>
            </div>

            <div class="links-1 links-f footer-item flex f-col flex-j-c flex-a-c gap-5">
                <h4>Quick Links </h4>
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Stores</a>
                <a href="#">Login</a>
                <a href="#">Contact</a>
            </div>

            <p class="copyright mt-5">Copyright&copy; allrights reserved <a href="#">GHAZNAA'S</a> 2025 </p>
        </div>
    </div>
</footer>

<script src="/assets/js/main.js"></script>
</main>
</body>

</html>