<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/classes.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media.css" media="(max-width:900px)" />


    <title>
        <%= title %>
    </title>

</head>

<body>

    <header>
        <div class="container">

            <div class="header-area  flex flex-a-c flex-j-b">
                <div class="logoandbutton flex flex-a-c flex-j-b">
                    <%- include('Logo.ejs') %>
                        <button class="d-btn" id="header-btn">
                            <p>&HorizontalLine;</p>
                            <p>&HorizontalLine;</p>
                            <p>&HorizontalLine;</p>
                        </button>
                </div>
                <nav id="header-nav">
                    <ul class="flex gap-5">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">LOGIN</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </nav>

            </div>


        </div>

    </header>

    <!-- header script  -->
    <script>
        const headerNav = document.getElementById("header-nav"),
            headerBtn = document.getElementById("header-btn")
        let headerOpened = false;

        headerBtn.addEventListener("click", e => {
            if (headerOpened) {
                headerOpened = false;
                headerNav.setAttribute("style", "height:0px")
            }
            else {
                headerOpened = true;
                headerNav.setAttribute("style", "height:300px")
            }
        })

    </script>

    <main>